body {
    background-color: #404040;
}

.container {
    display: flex;
    background-color: #1d4ed8;
    gap: 10px;
    height: 800px;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.item {
    /* width: 200px; */
    height: 200px;
    background-color: #376370;
}

#item3 {
    flex-grow: 1;
}

#item6 {
    flex-grow: 2;
}

.item:nth-child(4) {
    font-size: 50px;
    color: #fff;
    background: #facc15;
}